In [1]:
import json
import pandas as pd
import numpy as np
from tqdm import tqdm
from config import *

In [2]:
DATA = open(JSON_PATH).readlines()

In [3]:
def get_min(datas):
    min_ = 100000
    for data in datas:
        if data == 0: continue
        min_ = min(min_, data)
    return min_

def get_item(data):
    if data['is_train']:
        output = [0] * 37
        output[0] = data['file_name']
        for part in data['parts']:
            output[(int(part) * 2) + 1] = data['parts'][part][0]
            output[(int(part) * 2) + 2] = data['parts'][part][1]
        
        w = max(output[1::2]) - get_min(output[1::2])
        h = max(output[3::2]) - get_min(output[3::2])
        output[33] = data['obj_pos'][0]
        output[34] = data['obj_pos'][1]
        output[35] = w
        output[36] = h
    else:
        output = data['file_name']
        
    return output

In [4]:
train = []
test = []

for idx, data in tqdm(enumerate(DATA)):
    data = json.loads(data)
    if data['is_train']:
        if not data['parts']: continue
        train.append(get_item(data))
    else: test.append(get_item(data))

41753it [00:00, 59739.43it/s]

In [5]:
train_df = pd.DataFrame(train)
train_df.columns = columns
test_df = pd.DataFrame(test)
test_df.columns = ['image_path']

In [6]:
train_df.head()

,image_path,x_rankle,y_rankle,x_rknee,y_rknee,x_rhip,y_rhip,x_lhip,y_lhip,x_lknee,...,x_lshoulder,y_lshoulder,x_lelbow,y_lelbow,x_lwrist,y_lwrist,x_human,y_human,w_human,h_human
0,015601864.jpg,394,620,269,616,185,573,188,647,221,...,185,692,240,693,313,688,257,594,286,205
1,015601864.jpg,293,895,279,910,223,945,218,1012,315,...,206,924,203,1013,263,955,222,952,229,229
2,015599452.jpg,0,0,0,0,543,806,593,720,0,...,299,719,516,711,466,545,329,619,525,525
3,015599452.jpg,0,0,0,0,607,987,571,1194,0,...,269,1145,475,1226,433,1096,412,1010,533,533
4,015599452.jpg,0,0,0,0,537,228,536,74,0,...,251,26,423,26,0,0,315,133,506,506

In [7]:
test_df.head()

      image_path
0  037454012.jpg
1  095071431.jpg
2  095071431.jpg
3  073199394.jpg
4  059865848.jpg

In [8]:
train_df.to_csv(TRAIN_CSV, index=False)
test_df.to_csv(TEST_CSV, index=False)